# Propriétaires du dépôt FFF-data
# Le(s) propriétaire(s) sont responsables par défaut de l'ensemble du dépôt.
# (Les emails doivent être associés à des comptes GitHub ayant accès au dépôt.)
#
# Propriétaire / auteur : Koffi Frédéric SESSIE <sessiekoffifrederic@gmail.com>
# En collaboration avec : <seedinho.contact@gmail.com>

*  sessiekoffifrederic@gmail.com  seedinho.contact@gmail.com
