# Propriétaire du dépôt FFF-data
# Le propriétaire est responsable par défaut de l'ensemble du dépôt.
# (Les emails doivent être associés à des comptes GitHub ayant accès au dépôt.)
#
# Propriétaire / auteur : Koffi Frederic SESSIE <sessiekoffifrederic@gmail.com>

*  sessiekoffifrederic@gmail.com
